<!-- <div class="bg-cover bg-center h-screen" style="background-image: url('../assets/2593068.png')">
  <div class="flex flex-col items-center justify-center h-full">
    <p class="text-4xl font-bold text-white mb-4">Coming Soon</p>
    <p class="text-white text-lg mb-8">We're working on something amazing. Stay tuned!</p>
    <div class="flex space-x-4">
      <input type="email" placeholder="Enter your email" class="px-4 py-2 rounded-l-lg focus:outline-none" />
      <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-r-lg">Notify Me</button>
    </div>
  </div>
</div> -->
<div class="bg-cover bg-center h-screen" style="background-image: url('../assets/2593068.png')">
  <div class="flex flex-col items-center justify-center h-full">
    <p class="text-4xl font-bold text-white mb-4">RHINONTECH</p>
    <div class="flex space-x-4 mb-8">
      <a href="https://www.facebook.com/rhinonmechanix" target="_blank">
        <img src="../assets/facebook-logo.png" alt="Facebook" class="w-8 h-8">
      </a>
      <a href="https://www.instagram.com/rhinonmechanix" target="_blank">
        <img src="../assets/instagram-logo.png" alt="Instagram" class="w-8 h-8">
      </a>
    </div>
    <p class="text-white text-lg">We're working on something amazing. Stay tuned!</p>
  </div>
</div>
