<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 bg-slate-100">
    <div>
        <app-sidenav></app-sidenav>
    </div>
    <div class="col-span-3 sm:mt-2 md:mt-10">
        <div class="grid lg:grid-cols-5 md:grid-cols-5 sm:grid-cols-1">
            <div class="col-span-2">
                <p class="text-3xl text-center lg:text-left pt-1 font-extrabold">Rhinon Technologies</p>
            </div>
            <div class="flex flex-wrap col-span-2 justify-center">
                <div class="mx-2 my-2">
                    <div class="relative">
                        <div class="absolute flex items-center pl-4 h-full">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="18"
                                height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" />
                                <rect x="3" y="5" width="18" height="14" rx="2" />
                                <polyline points="3 7 12 13 21 7" />
                            </svg>
                        </div>
                        <input id="email1"
                            class=" rounded-3xl  focus:outline-none bg-white font-normal w-64 h-10 flex items-center pl-12 text-sm shadow"
                            placeholder="Your Mail" />
                    </div>
                </div>
                <button
                    class="rounded-3xl mx-2 my-2 bg-orange-500 hover:bg-orange-400  text-gray-100 border px-6 py-2 text-xs">
                    Subscribe
                </button>
            </div>
        </div>
        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 pt-6 gap-8 lg:mr-10">
            <div class="rounded-xl bg-white shadow-md justify-center text-center p-5">
                <button class="rounded-3xl mx-2 my-2 bg-orange-500 hover:bg-orange-400  text-gray-100 px-2 py-1 text-xs">
                    New PC's
                </button>
                <p class="text-3xl font-extrabold text-gray-600">New Computers</p>
                <!-- <img class="max-w-full h-auto scale-90" src="../../assets/images/PC's.png" alt="computers"> -->
                <div class="flex flex-wrap justify-center">
                    <img src="../../assets/images/PC's.png" class="max-w-sm h-auto scale-90" alt="" />
                </div>
            </div>
            <div class="rounded-xl bg-zinc-900 shadow-md justify-center text-center p-5">
                <button class="rounded-3xl mx-2 my-2 bg-orange-500 hover:bg-orange-400  text-gray-100 px-2 py-1 text-xs">
                    New
                </button>
                <p class="text-3xl font-extrabold text-gray-100">Latest Mobiles</p>
                <!-- <img class="max-w-full h-auto scale-90" src="../../assets/images/PC's.png" alt="computers"> -->
                <div class="flex flex-wrap justify-center">
                    <img src="../../assets/images/mobiles.png" class="max-w-sm h-auto scale-90" alt="" />
                </div>
    
            </div>
        </div>
        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 pt-6 gap-8 lg:mr-10 lg:mt-2">
            <!-- Remove class [ h-24 ] when adding a card block -->
            <!-- Remove class [ border-gray-300  dark:border-gray-700 border-dashed border-2 ] to remove dotted border -->
            <a class="rounded-xl bg-zinc-900 shadow-md justify-center text-center p-5" href="#">
                <button class="rounded-3xl mx-2 my-2 bg-orange-500 hover:bg-orange-400  text-gray-100 px-2 py-1 text-xs">
                    New
                </button>
                <p class="text-3xl font-extrabold text-gray-100">Television</p>
                <!-- <img class="max-w-full h-auto scale-90" src="../../assets/images/PC's.png" alt="computers"> -->
                <div class="flex flex-wrap justify-center">
                    <img src="../../assets/images/tv.png" class="max-w-xs h-auto scale-90" alt="" />
                </div>
            </a>
            <!-- Remove class [ h-24 ] when adding a card block -->
            <!-- Remove class [ border-gray-300  dark:border-gray-700 border-dashed border-2 ] to remove dotted border -->
            <div class="rounded-xl bg-white shadow-md justify-center text-center p-5 break-normal">
                <button class="rounded-3xl mx-2 my-2 bg-orange-500 hover:bg-orange-400  text-gray-100 px-2 py-1 text-xs">
                    New
                </button>
                <p class="text-3xl font-extrabold text-gray-600">Latest Gadgets</p>
                <!-- <img class="max-w-full h-auto scale-90" src="../../assets/images/PC's.png" alt="computers"> -->
                <div class="flex flex-wrap justify-center">
                    <img src="../../assets/images/gadgets.jpg" class="max-w-xs h-auto scale-90" alt="" />
                </div>
            </div>
            <!-- Remove class [ h-24 ] when adding a card block -->
            <!-- Remove class [ border-gray-300  dark:border-gray-700 border-dashed border-2 ] to remove dotted border -->
            <div class="rounded-xl bg-zinc-900 shadow-md justify-center text-center p-5 ">
                <button class="rounded-3xl mx-2 my-2 bg-orange-500 hover:bg-orange-400  text-gray-100 px-2 py-1 text-xs">
                    New
                </button>
                <p class="text-3xl font-extrabold text-gray-100">Smart Watches</p>
                <!-- <img class="max-w-full h-auto scale-90" src="../../assets/images/PC's.png" alt="computers"> -->
                <div class="flex flex-wrap justify-center ">
                    <img src="../../assets/images/watch.png" class="max-w-xs h-auto scale-90" alt="" />
                </div>
            </div>
        </div>
        <div class="text-center pt-10 p-5">
            <p class="text-3xl font-extrabold">Rhinon Technologies
            </p>
        </div>
        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 pt-6 gap-8 lg:mr-10 lg:mt-2">
            <!-- Remove class [ h-24 ] when adding a card block -->
            <!-- Remove class [ border-gray-300  dark:border-gray-700 border-dashed border-2 ] to remove dotted border -->
            <div class="rounded-xl bg-zinc-900 shadow-md justify-center text-center p-5">
                <!-- <img class="max-w-full h-auto scale-90" src="../../assets/images/PC's.png" alt="computers"> -->
                <div class="flex flex-wrap justify-center">
                    <img src="../../assets/images/controller.png" class="w-xs h-50" alt="" />
                </div>
                <p class="text-xs font-bold uppercase pt-8 text-orange-500">Black Friday</p>
                <p class="text-xs font-extrabold pt-2 uppercase text-gray-500">Gaming Studio</p>
                <p class="text-xs font-bold pt-2 text-gray-300">Starting from $0.99</p>
    
            </div>
            <!-- Remove class [ h-24 ] when adding a card block -->
            <!-- Remove class [ border-gray-300  dark:border-gray-700 border-dashed border-2 ] to remove dotted border -->
            <div class="rounded-xl bg-zinc-900 shadow-md justify-center text-center p-5">
                <!-- <img class="max-w-full h-auto scale-90" src="../../assets/images/PC's.png" alt="computers"> -->
                <div class="flex flex-wrap justify-center">
                    <img src="../../assets/images/tablet.png" class="w-xs h-50" alt="" />
                </div>
                <p class="text-xs font-bold uppercase pt-10 text-orange-500">Tablets</p>
                <p class="text-xs font-extrabold pt-2 text-gray-500">iPads</p>
                <p class="text-xs font-bold pt-2 text-gray-300">Starting from $0.99</p>
    
            </div><!-- Remove class [ h-24 ] when adding a card block -->
            <!-- Remove class [ border-gray-300  dark:border-gray-700 border-dashed border-2 ] to remove dotted border -->
            <div class="rounded-xl bg-zinc-900 shadow-md justify-center text-center p-5">
                <!-- <img class="max-w-full h-auto scale-90" src="../../assets/images/PC's.png" alt="computers"> -->
                <div class="flex flex-wrap justify-center">
                    <img src="../../assets/images/headphones.png" class="w-xs h-50" alt="" />
                </div>
                <p class="text-xs font-bold uppercase text-orange-500">Black Friday</p>
                <p class="text-xs font-extrabold pt-2 uppercase text-gray-500">Gaming Studio</p>
                <p class="text-xs font-bold pt-2 text-gray-300">Starting from $0.99</p>
    
            </div>
            <!-- Remove class [ h-24 ] when adding a card block -->
            <!-- Remove class [ border-gray-300  dark:border-gray-700 border-dashed border-2 ] to remove dotted border -->
            <a class="rounded-xl bg-zinc-900 shadow-md justify-center text-center p-5" href="www.google.com">
                <!-- <img class="max-w-full h-auto scale-90" src="../../assets/images/PC's.png" alt="computers"> -->
                <div class="flex flex-wrap justify-center">
                    <img src="../../assets/images/keyboard_mouse.png" class="max-w-s h-max" alt="" />
                </div>
                <p class="text-xs font-bold uppercase text-orange-500">Black Friday</p>
                <p class="text-xs font-extrabold pt-2 uppercase text-gray-500">Gaming Studio</p>
                <p class="text-xs font-bold pt-2 text-gray-300">Starting from $0.99</p>
    
            </a>
        </div>
    </div>
</div>